# Created by .ignore support plugin (hsz.mobi)
Будет удалено .idea/gcars-client.iml
Будет удалено .idea/inspectionProfiles/
Будет удалено .idea/misc.xml
Будет удалено .idea/modules.xml
Будет удалено .idea/workspace.xml
